<!-- Template pour que python crée html -->
<!-- Template pour que python crée html -->
<html lang="en" dir="ltr">
  <head>
<!--meta-->
  </head>
  <body>
<!-- Client -->
    <!-- Current Date and Time -->
<!--Date et heure:-->


    <br>
<!-- Pic -->




  </body>
</html>
